/*
#map {
  bottom:0px;
  top:50px;
  height: 100%;
  left: 200px;
  position: absolute;
  right: 0px;
}
*/


#thirdparty_area {
  bottom:0px;
  left: 0px;
  position: absolute;
}


#fs_logo {
  width:150px;
  height:30px;
  position: absolute;
}
